body {
	padding: 0;
	margin: 0;
	background-image: url(assets/sky.jpg);
}
.container-fluid {
	margin: 20px 0 0 50px;
}
div {
	padding: 0;
}
.header {
	height: 120px;
	background-color: rgb(1, 1, 196);
}

main {
	background: transparent;
	height: auto;
}

article {
	padding-top: 10px;
}

aside {
	background: transparent;
	width: 340px;
	height: auto;
	margin-bottom: 20px;
}

h1 {
	padding-top: 30px;
	color: snow;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: bold;
}

h2 {
	display: inline-block;
	color: snow;
	font-size: 34px;
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: bolder;
}

h3 {
	margin: 60px 0 40px 0;
	padding: 5px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 26px;
	text-align: left;
	color: snow;
}

h4 {
	margin: 50px 0 20px 5px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 22px;
	text-align: left;
	color: snow;
}

.today {
	color: rgb(241, 239, 239);
	font-size: 24px;
	padding: 0 0 10px 15px;
}

input {
	float: left;
	height: 40px;
	width: 180px;
	margin: 0 0 30px 0;
	font-size: 20px;
	padding-left: 10px;
}

button {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 5px;
}

.mainIcon {
	display: inline-block;
	width: 110px;
	margin: 0 0 12px 0;
}

.uv {
	display: inline-block;
}

.uvBox {
	border: solid;
	border-radius: 10px;
	border-color: rgb(187, 1, 1);
	background-color: rgb(187, 1, 1);
	width: 60px;
	height: 40px;
	margin-left: 8px;
	padding: 0;
	text-align: center;
}

#historySection {
	text-align: center;
}

#fiveDayForecast {
	text-align: left;
	height: 100%;
}

.fiveDay {
	display: inline-block;
	text-align: center;
	height: 200px;
	width: 180px;
	background-color: rgb(200, 231, 245);
	margin: 20px 30px 60px 0;
}

.dates {
	color: grey;
	font-size: 24px;
	margin: 8px 0 0 0;
	padding: 0 0 6px 0;
}

.days {
	color: grey;
	font-size: 20px;
	padding: 0 0 6px 0;
	margin: 0;
}

.dailyIcon {
	width: 60px;
	margin-bottom: 4px;
}

.searches {
	width: 180px;
	height: 40px;
	text-align: left;
	border-style: solid;
	border-color: navy;
	border-width: 1px;
	font-size: 20px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: grey;
	background-color: rgb(248, 245, 245);
	margin: 0 0 2px 0;
	padding: 4px 0 0 10px;
}
.searches:hover {
	cursor: pointer;
}

.clear {
	width: 180px;
	height: 40px;
	background-color: rgb(187, 1, 1);
	border-width: 1px;
	font-size: 16px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: snow;
	margin: 10px 0 0 0;
	text-align: center;
}

/* * Special styling for screens under 1600px * */
@media only screen and (max-width: 1600px) {
	.container-fluid {
		margin: 10px 0 0 10px;
	}
	article {
		padding-left: 10px;
	}
	h1 {
		padding-top: 20px;
		font-size: 44px;
	}
	h2 {
		margin-top: 40px;
		font-size: 30px;
	}
	.mainIcon {
		width: 90px;
	}
	h3 {
		margin: 20px 0;
	}
	h4 {
		font-size: 20px;
	}
	.header {
		height: 90px;
	}
	.fiveDay {
		height: 180px;
		width: 160px;
		margin-right: 15px;
	}
	.dates {
		font-size: 22px;
	}
	.days {
		font-size: 18px;
	}
}

/* /* * Special styling for screens under 1200px * */
@media only screen and (max-width: 1200px) {
	h2 {
		font-size: 28px;
	}
	.today {
		font-size: 22px;
	}
	.fiveDay {
		height: 155px;
		width: 135px;
		margin-right: 10px;
	}
	.dates {
		font-size: 20px;
		padding-bottom: 4px;
	}
	.days {
		font-size: 18px;
		padding-bottom: 2px;
	}
	.dailyIcon {
		width: 50px;
		margin-bottom: 2px;
	}
}

/* * Special styling for screens under 800px */
@media only screen and (max-width: 800px) {
	.container-fluid {
		margin-left: 40px;
	}
	article {
		text-align: center;
	}
	h2 {
		padding-left: 70px;
	}
	h4 {
		font-size: 20px;
	}
	input,
	.searches,
	.clear {
		width: 160px;
	}
	input,
	.searches {
		font-size: 18px;
	}
	.clear {
		font-size: 14px;
	}

	h3 {
		margin: 30px 0;
		text-align: center;
	}

	#fiveDayForecast {
		text-align: center;
	}
}
/* * Special styling for screens under 420px */
@media only screen and (max-width: 420px) {
	.container-fluid {
		margin-left: 0px;
	}
	h2 {
		padding-left: 0px;
		margin-left: 0px;
		padding-right: 40px;
	}
	h4,
	.searches,
	.clear {
		margin-left: 12px;
		margin-right: 0px;
	}

	h2 {
		margin-left: 80px;
	}
	h3 {
		margin: 40px 0;
	}
}
