header {
	height: 90px;
	background-color: navy;
}

article {
	margin-top: 10px;
	background-color: rgb(120, 183, 241);
	padding: 40px;
}

aside {
	background-color: rgb(206, 236, 247);
	height: auto;
	margin-bottom: 20px;
}

h1 {
	padding: 15px;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: bold;
}

h2 {
	color: white;
	font-size: 36px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: bolder;
	margin-bottom: 40px;
}

h3 {
	margin: 20px 0 0 10px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 26px;
}

h4 {
	margin: 20px 0 10px 20px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 22px;
}

p {
	color: rgb(241, 239, 239);
	font-size: 22px;
	padding: 0 0 10px 10px;
}

textarea {
	float: left;
	height: 45px;
	width: 200px;
	margin: 0 0 20px 15px;
	padding: 5px;
	text-align: center;
	font-size: 22px;
}

button {
	float: left;
	width: 45px;
	height: 45px;
	margin-left: 5px;
}

.fiveDay {
	height: 180px;
	width: 160px;
	background-color: navy;
	margin: 20px 10px 20px 30px;
}

/* #pastSearches {
	width: 310px;
	height: 50px;
	border-style: solid;
	border-color: navy;
	border-width: 1px;
	font-size: 22px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: grey;
	background-color: rgb(248, 245, 245);
	margin-left: 15px;
	padding: 8px 0 8px 10px;
} */
